{% extends 'base.html.twig' %}

{% block title %}Modifier le client {{ customer.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}"/>
{% endblock %}

{% block body %}
    <h1 class="centered-text">Modifier le client {{ customer.name }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}

 <div class="centered-text">
    <a href="{{ path('app_customer') }}">Revenir à la liste des clients</a>
     </div>
{% endblock %}
