{% extends 'base.html.twig' %}

{% block title %}Modifier le client {{ customer.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/customer.css') }}"/>
{% endblock %}

{% block body %}
    <h1>Modifier le client {{ customer.name }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}

    <a href="{{ path('app_customer') }}">Revenir à la liste des clients</a>
{% endblock %}
