{% extends 'base.html.twig' %}

{% block title %}Gérer les clients
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/customer.css') }}"/>
{% endblock %}

{% block body %}
	<div class="header-wrapper-flex">
		<div class="header-wrapper">
			<h1>Liste des chats</h1>
			<a class="btn" href="accueil">Revenir à l'accueil</a>
			<a class="btn" href="add-cat">Ajouter un chat</a>
		</div>
	</div>

	<div class="wrapper">
		<table class="customer-table">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Téléphone</th>
					<th>Adresse</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
					<tr>
						<td class="customer-td">{{ customer.name }}</td>
						<td class="customer-td">+33
							{{ customer.phone }}</td>
						<td class="customer-td">{{ customer.address }}</td>
						<td class="customer-td">
							<a class="customer-link" href="customer/pet/{{ customer.getId() }}">Voir les animaux</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
