{% extends 'base.html.twig' %}

{% block title %}Gérer les rendez-vous
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/meet.css') }}"/>
{% endblock %}

{% block body %}
	<div class="header-wrapper-flex">
		<div class="header-wrapper">
			<h1>Liste des chats</h1>
			<a class="btn" href="accueil">Revenir à l'accueil</a>
			<a class="btn" href="add-cat">Ajouter un chat</a>
		</div>
	</div>

	<div class="meet-wrapper">
		<table class="customer-table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Description</th>
					<th>Animal</th>
					<th>Propriétaire</th>
				</tr>
			</thead>
			<tbody>
				{% for meet in meets %}
					<tr>
						<td>{{ meet.date()|date('Y-m-d') }}</td>
						<td>{{ meet.description }}</td>
						<td>
							{% if meet.getPet() is not null %}
								<a href="/pet/{{ meet.getPet().getId() }}">
									{{ meet.getPet().getName() }}
								</a>
							{% else %}
								Aucun chat
							{% endif %}
						</td>
						<td>
							{% if meet.getPet() is not null and meet.getPet().getCustomer() is not null %}
								<a href="/customer/{{ meet.getPet().getCustomer().getId() }}">
									{{ meet.getPet().getCustomer().getName() }}
								</a>
							{% else %}
								Aucun propriétaire
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
